/*
	Img2PdfGui.rc
*/

#include <windows.h>
LANGUAGE LANG_NEUTRAL, SUBLANG_DEFAULT

#include <app_config.h>

ico_picture_as_pdf ICON "ico/picture-as-pdf.ico"
ico_content_copy ICON "ico/content-copy.ico"
ico_more_horiz ICON "ico/more-horiz.ico"
ico_add ICON "ico/add.ico"
ico_remove ICON "ico/remove.ico"
ico_image ICON "ico/image.ico"

/*
	Version
*/
VS_VERSION_INFO VERSIONINFO
 FILEVERSION PROJECT_VERSION_MAJOR, PROJECT_VERSION_MINOR, PROJECT_VERSION_PATCH, PROJECT_VERSION_TWEAK
 PRODUCTVERSION PROJECT_VERSION_MAJOR, PROJECT_VERSION_MINOR, PROJECT_VERSION_PATCH, PROJECT_VERSION_TWEAK
 FILEFLAGSMASK 0x17L
#ifdef NDEBUG
 FILEFLAGS 0x0L
#else
 FILEFLAGS 0x1L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "Comments", "Frontend to mutool from MuPDF package"
            VALUE "CompanyName", "Edmunt Pienkowsky - roed@onet.eu"
            VALUE "FileDescription", "Image to PDF coverter without re-encoding [GUI]"
            VALUE "FileVersion", PROJECT_VERSION_STR4
            VALUE "InternalName", "wxImg2PdfGui"
            VALUE "LegalCopyright", "Simplified BSD License - http://www.opensource.org/licenses/bsd-license.html"
            VALUE "OriginalFilename", "img2pdf-frontend.exe"
            VALUE "ProductName", "img2pdf-frontend"
            VALUE "ProductVersion", PROJECT_VERSION_STR4
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END

#include <wx/msw/wx-manifest.rc>
